body{
    background-color:indigo;
    text-align: center;
}

h1{
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 400%;
    color: khaki;
}

.row{
    margin: auto;
    width: 35%;
}

.align{
    margin: 5%;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}